<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1.0">
</head>
<body>
    <div class="container">
    <h2>Welcome, {{ session['username'] }}</h2>
    <p>Role: {{ role }}</p>

    {% if role == 'admin' %}
        <h3>Admin Dashboard</h3>
        <ul>
            <li><a href="{{ url_for('manage_water_sources') }}">Manage Water Sources</a></li>
            <li><a href="{{ url_for('manage_water_allocations') }}">Manage Water Allocations</a></li>
            <li><a href="{{ url_for('view_reports') }}">View Water Consumption and Availability Reports</a></li>
            <li><a href="{{ url_for('register_officer') }}">Register New Officer</a></li>
        </ul>
    {% elif role == 'officer' %}
        <h3>Officer Dashboard</h3>
        <ul>
            <!-- <li><a href="{{ url_for('register_customer') }}">Register New Customer</a></li>             -->
            <!-- <li><a href="{{ url_for('meter_reading', customer_id=1) }}">Enter Meter Reading for Customer</a></li> -->
            <li><a href="{{ url_for('view_customers_in_sector') }}">View Customers in My Sector</a></li>
        </ul>
    {% elif role == 'customer' %}
        <h3>Customer Dashboard</h3>
        <ul>
            <li>    <a href="{{ url_for('bills') }}">View Your Bills</a>
            <li><a href="#">Check Water Allocation</a></li>
        </ul>
    {% endif %}

    <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
