<form method="POST">
    <label>Username</label>
    <input type="text" name="username" required><br>

    <label>Password</label>
    <input type="password" name="password" required><br>

    <label>Name</label>
    <input type="text" name="name" required><br>

    <label>Contact Info</label>
    <input type="text" name="contact_info" required><br>

    <label>sector number</label>
    <input type="number" name="sector_no" required><br>

    <label>number of connections</label>
    <input type="number" name="connections" required><br>

    <label>reservoir_id</label>
    <input type="number" name="reservoir_id" required><br>

    <button type="submit">Register Customer</button>
</form>
